# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info
dist/
build/
develop-eggs/
sdist/
wheels/
.eggs/

# Environments
.env
.venv
venv/
ENV/
lib/
lib64/
bin/
include/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
static/images/

# IDE/OS
.idea/
.vscode/
Thumbs.db